{% extends 'base.html.twig' %}

{% block title %}Connexion JWT{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <div class="form-container">
        <div class="container">
            <h1>🔐 Connexion</h1>

            <form id="jwtLoginForm">
                <label>Email :</label>
                <input type="email" id="email" required>

                <label>Mot de passe :</label>
                <input type="password" id="password" required>

                <div class="actions">
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </div>
            </form>
            <p id="message1"></p>
        </div>
    </div>

    <script>
        document.getElementById('jwtLoginForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/Api/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email, password })
            });

            const message1 = document.getElementById('message1');

            if (response.ok) {
                message1.innerText = 'Connexion réussie !';
                const data = await response.json();
                localStorage.setItem('jwt', data.token);

                if (data.role === 'ROLE_ADMIN') {
                    window.location.href = '/admin';
                } else if (data.role === 'ROLE_USER') {
                    window.location.href = '/user';
                } else {
                    alert('Rôle non reconnu.');
                }
            } else {
                message1.innerText = 'Identifiants invalides';
            }
        });
    </script>
{% endblock %}
