<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chargement User...</title>
</head>
<body>
<h1>Chargement de l'interface Utilisateur...</h1>
<p>Veuillez patienter pendant que nous chargeons l'interface d'utilisateur.</p>
</body>
</html>
