{% extends 'base.html.twig' %}

{% block title %}Créer un tournoi{% endblock %}

{% block body %}
<div>
    <h1>Créer un tournoi</h1>

    <form method="post">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required>

        <label for="startDate">Date de début :</label>
        <input type="date" id="startDate" name="startDate" required>

        <label for="endDate">Date de fin :</label>
        <input type="date" id="endDate" name="endDate" required>

        <label for="description">Description :</label>
        <textarea id="description" name="description" required></textarea>

        <button type="submit">Créer</button>
    </form>
</div>
{% endblock %}