<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="{{ path('home') }}" class="nav-link"><i class="fas fa-home"></i> Accueil </a></li>
        </ul>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><p class="nav-p">&copy; 2025 Tournoi RingMaster. Tous droits réservés.</p></li>
        </ul>
    </nav>
</footer>
</body>
</html>

