{% extends 'base.html.twig' %}

{% block title %}Accueil - Tournoi RingMaster{% endblock %}

{% block body %}
    <div class="hero-container fond-hero">
        <h1>🔥 Bienvenue sur le site de gestion de tournois ! 🔥<br><small>Prépare-toi, ça va chauffer sur le RING…</small></h1>
        <div class="btn-container">
            <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
            <a href="{{ path('app_register') }}" class="btn btn-secondary">S'inscrire</a>
        </div>
        <div class="hero-image">
            <img src="{{ asset('assets/versus_sportif.png') }}" alt="Combat VS" />
        </div>

    </div>
{% endblock %}
